<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceDocSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59188/WebServiceDoc.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceDocSoap"
                contract="ws.WebServiceDocSoap" name="WebServiceDocSoap" />
        </client>
    </system.serviceModel>
</configuration>